<section class="bg-body-secondary rounded-4 shadow p-4 my-2 w-75 mx-auto">
  <h1 class="h2 text-center">shop cart</h1>
  @for (item of cartItems; track item.productId) {
  <div class="row mb-1 border-bottom">
    <div class="col-md-1">
      <div>
        <img
          [src]="'https://vitalia.runasp.net' + item.productImage"
          class="w-100"
          alt="product image"
        />
      </div>
    </div>
    <div class="col-md-11 d-flex justify-content-between align-items-center">
      <div>
        <h3 class="h5">{{item.productName}}</h3>
        <p class="mb-3">price:{{item.productPrice}}</p>
        <span (click)="deleteItem(item.productId)"  class="text-danger px-3 cr"><i class="fa-solid fa-trash"></i></span>
      </div>
      <div>
        <span (click)="plus(item.productId)" class="cr"><i class="fa-solid fa-circle-plus fa-beat"></i></span>
        <span class="p-3">{{item.productCount}}</span>
        <span (click)="minus(item.productId)" class="cr"><i class="fa-solid fa-circle-minus fa-beat"></i></span>

      </div>
    </div>
  </div>
  }
  <p class="cr size">Total cart price: {{ totalPrice |currency:'EGP':'symbol'}}</p>
  <div class="d-flex justify-content-between">
    <button class="btn-1" (click)="deletecart()">delete all cart</button>
  <button [routerLink]="['/address']" routerLinkActive="router-link-active"  class="btn-2">continue to payment</button>
  </div>
</section>
