<div class="container">
  <div class="payment-card">
    <header>
      <h1>Complete Your <span class="highlight">Shopping</span> & Take the First Step Toward a Healthier You!</h1>
    </header>
    <div class="payment-section">
      <h2>Enter your Payment Method.</h2>
      <form class="payment-form">
        <div class="payment-option">
          <label>
            <input type="radio" name="payment" value="vodafone">
            <span class="checkmark"></span>
            <div class="logo-container">
              <span class="payment-name">Electronic wallet</span>
            </div>
          </label>
        </div>
        <div class="button-group">
          <button type="button" class="btn primary-btn" (click)="startPayment()" [disabled]="isLoading">
            <span class="normal-text">Next</span>
            <div *ngIf="isLoading" class="loading-spinner"></div>
          </button>
          <button type="button" class="btn secondary-btn">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
