<div class="container">
  <div class="section1 d-flex justify-content-between p-5">
    <div class="part-left w-50">
      <h1>vitalia</h1>
      <h3>Your Personalized Nutrition Journey Starts Here!</h3>
      <p class="bold">
        "Get personalized meal plans, consult top nutritionists, and use AI to
        track your food – all in one place!"
      </p>
      <button class="start" (click)="join()">get start now !</button>
    </div>
    <div class="part-right w-50">
      <img
        src="../../../assets/imgs/home1.png"
        alt="photo1"
        width="40%"
        class="photo1"
      />
      <img
        src="../../../assets/imgs/home2.png"
        alt="photo2"
        width="40%"
        class="photo2"
      />
    </div>
  </div>
  <div class="wave"></div>
  <div class="section2 d-flex justify-content-between p-5">
    <div class="section-left w-50 p-5">
      <h3>Nutrition Experts Online</h3>
      <p class="part3">
        Get personalized guidance from our dedicated nutritionists, committed to
        your well-being. Experience tailored support for your health needs. Our
        expert nutrition team is here to provide you with the best care
        possible, ensuring you receive comprehensive and personalized support.
      </p>
      <button class="start">join to us now</button>
    </div>
    <div class="section-right part2  w-50 d-flex justify-content-around">
      <img src="../../../assets/imgs/home3.png" alt="photo3" width="40%" class="photo3">
      <img src="../../../assets/imgs/home4.png" alt="photo3" width="40%" class="photo4">
    </div>
  </div>
  <div class="wave"></div>
  <div class="ai">
    <div
      class="ai-content d-flex w-75 justify-content-around align-items-center ms-5"
    >
      <div class="food w-50">
        <img
          src="../../../assets/imgs/food.svg"
          alt="food"
          width="20%"
          class="mt-2"
        />
        <span>food-scanning</span>
      </div>
      <div class="chat w-50">
        <img
          src="../../../assets/imgs/chat.svg"
          alt="chatbot"
          width="20%"
          class="mt-2"
        />
        <span>Intelligent-Chatbot</span>
      </div>
    </div>
    <button class="app-ai" (click)="getapp()">get the app now</button>
  </div>
  <div class="wave"></div>
  <div class="about d-flex mt-5 w-100 p-5 text-center">
    <div class="store w-25">
      <img src="../../../assets/imgs/store.svg" alt="store" class="borders" />
      <h3>store</h3>
      <p class="normals">
        Shop our store for the best health products that enhance your lifestyle.
      </p>
      <button class="btn-community" (click)="navigatenowshop()">
        read more ...
      </button>
    </div>
    <div class="community w-25">
      <img
        src="../../../assets/imgs/community.svg"
        alt="community"
        class="borders"
      />
      <h3>community</h3>
      <p class="normals">
        Connect with like-minded individuals who share your health interests
      </p>
      <button class="btn-community" (click)="navigatenowcommunity()">
        read more ...
      </button>
    </div>
    <div class="blog w-25">
      <img src="../../../assets/imgs/blog.svg" alt="blog" class="borders" />
      <h3>blog</h3>
      <p class="normals">
        Discover the latest articles and tips for a healthy and happy life in
        our blog.
      </p>
      <button class="btn-community" (click)="navigatenowblog()">
        read more ...
      </button>
    </div>
    <div class="appointment w-25">
      <img
        src="../../../assets/imgs/appointment.svg"
        alt="appointment"
        class="borders"
      />
      <h3>appointment</h3>
      <p class="normals">
        Get expert consultations to guide you towards a healthier lifestyle
      </p>
      <button class="btn-community" (click)="navigatenowappointment()">
        read more ...
      </button>
    </div>
  </div>
</div>
