<h1> Scan Your Meals & Get Instant Nutrition Advice – Powered by AI !</h1>
<h3>Download the Vitalia Powered App Today!</h3>
<div class="container  d-flex justify-content-around  p-5 text-center">
  <div class="android bgc p-5">
    <p>Scan to Download on Androi</p>
    <div class="img">
      <img src="../../../assets/imgs/qr.svg" alt="qr">
    </div>
  </div>
  <div class="ios bgc p-5">
    <p>Scan to Download on ios</p>
    <div class="img">
      <img src="../../../assets/imgs/qr.svg" alt="qr">
    </div>
  </div>
</div>

