h1{
  text-align: center;
  color:  #294634;
  padding: 20px;
  text-shadow: 2px 2px rgba(128, 128, 128, 0.675);
}
h3{
  text-align: center;
  color: orange;
  padding: 20px;
  text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.675);
}
p{
  font-size: 20px;
  padding: 10px;
  font-weight: 700;
  color: orange;
  text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.675);
}
.bgc{
  background-color: #F6E4CAB2;
}
.android{
  border-radius: 20px;
}
.ios{
  border-radius: 20px;
}
