<nav class="navbar navbar-expand-lg back-ground-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home"  routerLinkActive="router-link-active" >
      <img src="./assets/imgs/logo.svg" alt="logo" width="100px"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="router-link-active"  >dashboard admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


