.img-round{
  border: 5px dashed #294634;
  padding: 30px;
  border-radius: 50%;
}
.img-content{
  text-align: center;
  border: 5px dashed #294634;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}
.img-content:hover{
  background-color: #fffaf0;
}
li{
  list-style: none;
}

