<div class="container w-50 d-flex justify-content-around gx-5 mt-5 mb-5">
  <div class="cards">
    <div>
      <li class="nav-item">
        <a class="nav-link" routerLink="clientlogin" routerLinkActive="router-link-active"  >
          <div class="img-round">
            <img src="./assets/imgs/client.svg" alt="client">
          </div>
         <div class="img-content">
          <h4>client</h4>
         </div>
        </a>
      </li>
    </div>
  </div>
  <div class="cards">
    <div>
      <li class="nav-item">
        <a class="nav-link" routerLink="doctorlogin" routerLinkActive="router-link-active"  >
          <div class="img-round">
            <img src="./assets/imgs/doctor.svg" alt="doctor">
           </div>
       <div class="img-content">
        <h4>doctor</h4>
       </div>
        </a>
      </li>
    </div>
  </div>
  <div class="cards">
    <div>
      <li class="nav-item">
        <a class="nav-link" routerLink="sellerlogin" routerLinkActive="router-link-active"  >
          <div class="img-round">
            <img src="./assets/imgs/seller.svg" alt="seller">
           </div>
         <div class="img-content">
          <h4>seller</h4>
         </div>
        </a>
      </li>
    </div>
  </div>
</div>
<router-outlet></router-outlet>


