<!-- //for blogs -->
<div class="bg-slate-500 p-4">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    @for (doctor of listdoctors; track doctor.id) {
    <div class="menu-card bg-white p-4 rounded-lg shadow-md">
      <div class="card-content">
        <h3 class="text-lg font-semibold mb-2">
          licenseNumber: {{ doctor.licenseNumber }}
        </h3>
        <h3 class="text-lg font-semibold mb-2">
          licenseExpire: {{ doctor.licenseExpire | date }}
        </h3>
        <h3 class="text-lg font-semibold mb-2">
          certificationPath:{{ doctor.certificationPath }}
        </h3>

        <button
          class="add-to-cart bg-green-600 text-white px-4 py-2 rounded flex items-center justify-center gap-2"
          (click)="showdocument(doctor.id)"
        >
          show documents
          <svg
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M5 12h14m-7-7l7 7-7 7" />
          </svg>
        </button>
        <button
          class="add-to-cart bg-amber-500 text-white px-4 py-2 rounded flex items-center justify-center gap-2 mt-3"
          (click)="accept(doctor.id)"
        >
          accept
          <svg
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M5 12h14m-7-7l7 7-7 7" />
          </svg>
        </button>
      </div>
    </div>
    }
  </div>
</div>
