<div class="chat-container">
  <header class="chat-header">
    <div class="logo">
      <img src="../../../assets/imgs/commnity.jpg" alt="Vitalia Logo" class="logo-img">
    </div>
    <h1>Vitalia Community</h1>
  </header>

  <div class="messages-container">


    <div class="message-wrapper">
      <div class="message-content">
        <span class="sender-name">David</span>
        <div class="message">
          <p>I focus on eating lots of fruits, vegetables, and lean proteins. Healthy eating is crucial.</p>
          <span class="timestamp">10:09 AM</span>
        </div>
      </div>
    </div>

    <div class="message-wrapper outgoing">
      <div class="message-content">
        <span class="sender-name">You</span>
        <div class="message">
          <p>I make sure to have regular health check-ups. Preventive care is essential.</p>
          <span class="timestamp">10:11 AM</span>
        </div>
      </div>
    </div>

  </div>
  <div class="input-container">
    <button class="attachment-btn">
send
    </button>
    <input type="text" placeholder="Message" class="message-input">
  </div>
</div>

