.back-ground-navbar{
  background-color:#fffaf0 ;
  border-bottom: #294634 1px solid;
}
li:hover a{
  background-color: #294634;
  color: white;
  border-radius: 20px;
}
a{
  color:#294634;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.border-nav{
  border:#294634 3px solid;
  border-radius: 20px;
}


